* {
  transition: all 200ms linear;
}

button:active {
  transform: scale(1.015);
}

.avoidNav {
  margin-top: 110px !important;
}

/* NavBar */

.md-menu {
  max-width: min-content !important;
}

.navbar-toggler {
  box-shadow: none !important;
}

.menu-visible {
  height: 30px !important;
  overflow: hidden;
  border-top: 1px solid lightgray !important;
}

.menu-hidden {
  height: 0px !important;
  overflow: hidden;
}

.navbar-toggler {
  padding: 1px 6px !important;
}

nav svg:hover {
  color: black;
}

span.badge {
  background: hsla(0, 0%, 0%, 35%);
}

/* Model */
.modal-footer {
  border-top: none;
}

/* Category */
.cat-container {
  max-width: 900px;
  width: 100%;
  overflow-x: hidden;
}

/* Carousel */
.mySwiper {
  max-width: 1700px;
  height: 55vh;
}



.swiper-button-next:after, .swiper-button-prev:after {
  color: hsl(0, 0%, 75%);
}

#carousel-img {
  object-fit: cover;

}

#carousel-product, #carousel-product a {
  color: hsl(0, 0%, 75%) !important;
}

#view-product:hover #product-line {
  animation-name: lineAni;
  animation-duration: 850ms;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

#product-line {
  height: 2px;
  border-radius: 50%;
  width: 100%;
  transition: all 1s linear;
  background: hsl(0, 0%, 75%);
}

@keyframes lineAni {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

/* Top product */

#product-image {
  object-fit: contain;
  aspect-ratio: 1 / 1.4;
  border-radius: 5px;
  cursor: pointer;
}

#product:hover {
  transform: scale(1.03);
  border-radius: 5px;
  box-shadow: 0px 5px 15px 7px hsl(0, 0%, 0%, 25%);
}

@media (max-width: 575px) {
  #product:hover {
    transform: scale(0.95);
  }
}

.thubnail {
  aspect-ratio: 1 !important;
}

#thubnailRow {
  display: flex;
  width: 130%;
  min-width: max-content;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 10s linear infinite;

  /* animation-play-state: paused; */
}

#thubnailRow:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(50px);
  }
  to {
    transform: translateX(-50%);
  }
}

.bi-heart-fill {
  cursor: pointer;
}

.red {
  fill: red;
  transition: all 50ms linear !important;
}

/* Category */
#category-thumbnail {
  height: 75px;
}

.bi-chat-dots:hover {
  fill: hsla(216, 98%, 52%, 65%);
}
